@use '../abstracts/colors' as *;

#filters {

    .button {

        width: 100px;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        justify-content: center;
    }

    .button:focus {
        border-color: $dark-gray !important;
    }

    .button[data-color=all]:not(:hover),
    .button[data-color=cross]:not(:hover),
    .button[data-color=heart]:not(:hover),
    .button[data-color=saddle]:not(:hover) {
        border-color: $light-gray !important;
    }
}