.is-fullheight-with-navbar {

    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

@media screen and (max-width: 500px) {
    
    .is-fullheight-with-navbar {
        background-image: url(../../images/index/flower-arrangement-hero-small.webp);
    }
}

@media screen and (min-width: 501px) {

    .is-fullheight-with-navbar {

        background-image: url(../../images/index/flower-arrangement-hero-medium.webp);
    }
}

@media screen and (min-width: 951px) {

    .is-fullheight-with-navbar {

        background-image: url(../../images/index/flower-arrangement-hero.webp);
    }
}