// article

.article-img {

    max-width: 900px !important;
}

.article-tall-img {
    
    max-height: 600px !important;
}

.article-square-img  {

    max-height: 400px !important;
}