// cookie message 
#cookieMsg {
    position: fixed;
    width: 280px;
    height: 125px;
    left: 10px;
    bottom: 10px;
}

button.delete {
    position: absolute;
    right: 5px;
    top: 5px;
}

// go to Top
#top {
    position: fixed;
    height: 58px;
    width: 58px;
    right: 5px;
    bottom: 10px;
    z-index: 1;
}

