// brand website orange
$primary: hsl(27, 85%, 48%);
// purple
$info: hsl(261, 51%, 51%);
// pink
$pink: hsl(0, 62%, 77%);

// peach
$peach: hsl(30, 85%, 77%);

// remove focus border
$button-focus-box-shadow-color: none;