@use "../abstract/colors";

#top {
    position: fixed;
    right: 25px;
    bottom: 25px;
    transition-duration: 1s;

    &:hover {
        background-color: hsl(0, 0%, 4%);
    }
}

.is-pink {
    background-color: $pink !important;

    &:hover {
        background-color: darken($pink, 3%) !important;
    }
}

.is-peach {
    background-color: $peach !important;

    &:hover {
        background-color: darken($peach, 3%) !important;
    }
}

.is-peach,
.is-pink {
    border-color: transparent !important;
}