.is-fullheight-with-navbar {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    opacity: 0.9;
    background: url(https://ik.imagekit.io/rosyarc/Index/index/flower-arrangement-hero.webp?updatedAt=1700021170118);
}