@use "../abstract/colors";


header {

    .navbar {
        border-bottom: 5px solid $primary;

        // logo height
        #logo {
            max-height: 70px;
        }

        // fix for link icon positioning
        #copyLink {
            span {
                position: relative;
                right: 50%;
            }
        }

        // social icons hover
        .navbar-item button:hover {
            transform: scale(120%);
            transition: 0.1s ease-in-out;
        }

        // focus ring
        .is-ghost:focus {
            border-color: $primary;
        }

        .myLinks.is-active {
            text-decoration: underline $primary;
        }

        .myLinks:hover {
            text-decoration: underline hsl(141, 71%, 48%);
        }

        .navbar-dropdown .myLinks.is-active {
            background-color: hsl(0, 0%, 96%) !important;
            color: initial !important;
        }

        // fixes mobile & tablet text color
        @media screen and (max-width: 1023px) {

            .myLinks.is-active,
            .myLinks:hover,
            .navbar-link {
                color: initial;
            }
        }
    }
}