.notification {
    height: fit-content;
    width: fit-content;
    position: fixed !important;

    // for desktop browsers
    @media screen and (min-width: 1024px) {
        right: 0;
    }

    // for touch devices
    @media screen and (max-width: 1023px) {
        left: 0;
    }

}

#cookieMsg {
    position: fixed;
    width: 280px;
    height: 125px;
    left: 10px;
    bottom: 10px;

    button.delete {
        position: absolute;
        right: 5px;
        top: 5px;
    }
}