---
interface Props {
  text: string;
  color: "purple" | "indigo" | "green";
  type: "tip" | "optional";
}

const { text, color, type } = Astro.props as Props;
---

<div
  class:list={{
    "not-prose grid gap-4 rounded-md border-l-8 p-4": true,
    "border-l-green-400 bg-green-50": color === "green",
    "border-l-purple-400 bg-purple-100": color === "purple",
    "border-l-indigo-400 bg-indigo-100": color === "indigo",
  }}
>
<header
class:list={{
    "flex items-center gap-2 text-lg md:text-xl font-bold": true,
    "text-green-700": color === "green",
    "text-purple-700": color === "purple",
    "text-indigo-700": color === "indigo",
}}
>
{
    type === "optional" && (
    <svg
      aria-hidden="true"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      width="24"
      viewBox="0 0 512 512"
      ><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path
        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM169.8 165.3c7.9-22.3 29.1-37.3 52.8-37.3l58.3 0c34.9 0 63.1 28.3 63.1 63.1c0 22.6-12.1 43.5-31.7 54.8L280 264.4c-.2 13-10.9 23.6-24 23.6c-13.3 0-24-10.7-24-24l0-13.5c0-8.6 4.6-16.5 12.1-20.8l44.3-25.4c4.7-2.7 7.6-7.7 7.6-13.1c0-8.4-6.8-15.1-15.1-15.1l-58.3 0c-3.4 0-6.4 2.1-7.5 5.3l-.4 1.2c-4.4 12.5-18.2 19-30.6 14.6s-19-18.2-14.6-30.6l.4-1.2zM224 352a32 32 0 1 1 64 0 32 32 0 1 1 -64 0z"
      ></path></svg>
      <>Optional</>
    ) 
}
{
    type === "tip" && (
    <svg
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      height="24"
      width="24"
      viewBox="0 0 512 512"
    >
      <!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
      <path
        d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336l24 0 0-64-24 0c-13.3 0-24-10.7-24-24s10.7-24 24-24l48 0c13.3 0 24 10.7 24 24l0 88 8 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-80 0c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
      ></path>
    </svg>
    <>Tip</>
    )
}
</header>
<p class="text-pretty md:text-lg text-neutral-950">
    {text}
  </p>
</div>

<!-- Matches prose margins -->
<style>
    div {
      margin-block: 24px;
    }
</style>