<!-- 2 Columns ONLY text NO image -->
<div
  class="grid grid-cols-1 place-items-center items-start gap-8 md:grid-cols-2"
>
  <slot />
</div>
<!-- Items-start moves text furthest up and aligns them regardless of content size -->
