<!-- Menu Button -->
<button
  id="menu-toggle"
  class="grid justify-items-center gap-1 p-2 lg:hidden *:bg-neutral-900 dark:*:bg-neutral-50 *:transition *:duration-300 *:h-1 *:w-7"
  aria-expanded="false"
  aria-controls="mobile-menu"
>
  <span id="menu-top" aria-hidden="true"></span>
  <span id="menu-middle" aria-hidden="true"></span>
  <span id="menu-bottom" aria-hidden="true"></span>
  <span class="sr-only">Open Menu</span>
</button>
